@model Employee
@{
    Layout = "_otherLayout";
}

<h1>Emp Details</h1>
<ul class="list-group">
            <li class="list-group-item">Name:  @Model.Name</li>
            <li class="list-group-item">Address: @Model.Address</li>
            <li class="list-group-item">Age: @Model.Age</li>
            <li class="list-group-item">Salary: @Model.Salary</li>
</ul>
