@model Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>detail</title>
</head>
<body>
        <h1>Emp Details</h1>
        <ul>
            <li>Name:  @Model.Name</li>
            <li>Address: @Model.Address</li>
            <li>Age: @Model.Age</li>
            <li>Dep num work : @Model.Dnum</li>
    </ul>
</body>
</html>
